venv3
.idea
node_modules
data/
Train.csv
Train.zip
TrainClean.csv
data/pieces
__pycache__
venv2
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
data/bibsonomy/
data/imdb/
data/steam/
*.pyc

# notebooks

.ipynb_checkpoints/

# my custom stuff

venv3-tf

# scala

### Scala ###
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# 
.scala_dependencies
.worksheet
aclImdb*
*.iml
*.bak
